@page "{pageNo:int?}"
@{
	ViewData["Title"] = "Index";
}
@model WEB_253505_Bekarev.Areas.Admin.Pages.IndexModel

<h1>Index</h1>

<p>
	<a class="btn btn-primary" role="button" asp-page="Create"><i class="fas fa-plus"></i> Create new</a>
</p>
<div>
    @{
        await Html.RenderPartialAsync("_adminProductsPartial", new
        {
            CurrentPage = Model.CurrentPage,
            TotalPages = Model.TotalPages,
            Anime = Model.Anime.Items
        });
    }
</div>
