@model ListModel<Anime>
@{
    ViewData["Title"] = "Index";
    var categories = ViewData["Categories"] as List<Category>;
    var current_cat = ViewData["current_category"];
    var request = ViewContext.HttpContext.Request;
    var current_category = request.Query["category"];
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}

<h1>Добро пожаловать!</h1>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        @current_cat
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" asp-controller="product" asp-action="index" asp-route-category="@null">Все</a></li>
        @foreach(var item in categories)
        {
            <li><a class="dropdown-item" asp-controller="product" asp-action="index" asp-route-category="@item.NormalizedName">@item.Name</a></li>
        }
    </ul>
</div>
<body>
    @{
        await Html.RenderPartialAsync("_ProductsPartial", new
        {
            CurrentCategory = current_category,
            ReturnUrl = returnUrl,
            CurrentPage = Model.CurrentPage,
            TotalPages = Model.TotalPages,
            Products = Model.Items,
        });
    }
</body>
